@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=DM+Serif+Display:ital@0;1&display=swap');


:root {
    --bg-theme-color:
    --brand-color:#DBAD6A;
    --link-color:
    --brand-font-family: "Birthstone", cursive;
    --link-font-family: "DM Serif Display", serif;
    --text-font-family:
}
* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
#navBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#brand{
    display: flex;
    justify-content: center;
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style:normal;
    font-size: 8rem; 
}
.brandText {
    text-decoration: none;
    padding: 0.7rem;
    color:#CF995F;
    text-shadow: 2px 5px rgb(178, 176, 176);
}
#linkContainer, #linkCategory{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#linkCategory {
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-top:solid 1px rgb(84, 83, 83);
    border-bottom:solid 1px rgb(84, 83, 83) ;
}
.navLink{
    text-decoration: none;
    padding: 0.7rem;
    color: black;
    font-family: "DM Serif Display", serif;
}
.catLink{
    font-size: 1.2rem;
}
.navLink:hover {
    border-bottom: solid 2px #CF995F ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateY(-2px);
}
.catLink:hover {
    color: #CF995F;
    border-bottom: none;
    transform: translateX(2px);
    
}
.signin:hover {
    background: #CF995F;
    border-bottom: none;
}
.download:hover{
    background: #CF995F;
    border-bottom: none;
}
.signin, .download {
    border-radius: 10px;
    color: aliceblue;
    background: rgb(56, 56, 56);
}
.download{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.separator {
    width: 1px;
    height: auto;
    background: rgb(165, 164, 164);
}
.searchInput{
    width: 100%;
    display: flex;
    padding: 1rem;

}
.searchBar {
    width: 18rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin: auto;
    border: solid 1px rgb(14, 15, 15);
    border-radius: 18px 0 0 18px ;
}