@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=DM+Serif+Display:ital@0;1&display=swap');


:root {
    --bg-theme-color:#fff;
    --brand-color:#CF995F;
    --link-color: #000;
    --brand-font-family: "Birthstone", cursive;
    --link-font-family: "DM Serif Display", serif;
    --text-font-family:"Arial", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#navBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
#brand{
    display: flex;
    justify-content: center;
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style:normal;
    font-size: 8rem; 

}
.brandText {
    text-decoration: none;
    color:var(--brand-color);
    text-shadow: 2px 5px rgb(178, 176, 176);
}
#linkContainer, #linkCategory{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#linkCategory {
    /* overflow-y: scroll; */
    scroll-behavior: smooth;
    border-top:solid 1px rgb(84, 83, 83);
    border-bottom:solid 1px rgb(84, 83, 83) ;
}
.navLink{
    text-decoration: none;
    padding: 12px;
    color: var(--link-color);
    font-family: "DM Serif Display", serif;
    transition: transform 0.2s ease-out;
}
.mode {
     
    padding: 12px;
}
.catLink{
    font-size: 1.2rem;
}
.navLink:hover {
    border-bottom: solid 2px var(--brand-color) ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateY(-2px);
}

.searchInput {
    border:solid 1px #000;
    width: 16rem;
    border-radius: 4rem;
    padding: 1rem;
}
.mode:hover{
    border: none;
}

.catLink:hover {
    color: var(--brand-color);
    border-bottom: none;
    transform: translateX(2px);    
}
.signin:hover {
    background: var(--brand-color);
    border-bottom: none;
}
.download:hover{
    background: var(--brand-color);
    border-bottom: none;
}
.signin, .download {
    border-radius: 10px;
    color: aliceblue;
    background: rgb(56, 56, 56);
}
.download{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.separator {
    width: 1px;
    height: auto;
    background: rgb(165, 164, 164);
}
.heading {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
}
.heading > a {
    /* text-decoration: none; */
    color: #000;
    font-family: var(--link-font-family);
}
.heading > a:hover{
    color: var(--brand-color);
}
#main-content{
    padding: 1rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1rem;
    margin: auto;
    place-items: center;
}
.card{
    border-radius: 20px;
    width: 80%;
    height:auto;
    display: flex;
    flex-direction: column;
    background: rgb(5, 5, 5);
    border: solid 0.4rem var(--brand-color);
    object-fit: contain;
    color: aliceblue;
}
.card > h2, .card > p {
    text-align: center;
    padding: 0.4rem;
}
.card > img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;    
}
.blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;   
}
.midSec{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* align-items: stretch; */
}
.articleSec{
    flex: 1;
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: row;
}
.imgSec {
    max-width: 40%;
    height: 300px;    
}
.blogImg{
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}
.article{
    width: 60%;
    max-height: 300px;
    display: flex;
    flex-direction: column; 
    gap: 1rem;  
    padding: 0.6rem;
}
.rightSec{
    display: flex;
    flex-direction: column;
    width:30% ;
    /* gap: 1rem; */
    justify-content: space-between;
}
.right-block{
    display: flex;
    flex-direction: column;
    width:auto ;
    gap: 0.4rem;
    font-family: var(--link-font-family);
    font-size: 1.2rem;
    letter-spacing: 1px; 
    margin-bottom: 1rem;   
}
.right-block > a{
    text-decoration: none;    
}
.rightSecLink{
    min-width: 18rem;
    background: #ead1b6;
    padding: 1rem;
    color: #000;
}
.rightSecLink:hover{
    background: var(--brand-color);
}
.subscription {
    background: var(--brand-color);
    padding: 1rem;
    display: flex;
    text-align: center;
    gap: 1rem;
    color: #fff;
}
#subInput{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#subInput input {
    padding: 0.6rem;
    width: 14rem;
}
#subInput button {
padding: 0.8rem;
}
.moreArticles{
    text-align: center;
    padding: 1rem;
    color: #000;
    background: #ead1b6;
    font-family: var(--link-font-family);
    letter-spacing: 1px;
}
.moreArticles:hover{
    background:var(--brand-color);
}
#signUp {
    width: 80%;
    height:200px;
    color: #fff;    
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    justify-content: space-around;
    align-items: center;
}
#cover {
    background: var(--brand-color);
}
#socialLinks{
    font-size: 2rem;
}
#socialLinks > a{
    text-decoration: none;
    color: #fff;
}
#socialLinks a:hover{
    color: black;
}
#signupSec {
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.user-name, .email {
    width: 12rem;
    padding: 1rem;
}

.go{
    width: 6rem;
    padding: 0.4rem;    
    font-family: var(--link-font-family);
    letter-spacing: 1px;
    font-size: large;
    background: #ead1b6;
    border: none;
    cursor: pointer;
}
.go:hover{
    background: #000;
    color: #fff;
}
.foodParadise{
    margin: auto;
    width: 100%;
    height: 400px;
    background: #cccbcb;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}
.region {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    border: solid 1px #000;
}
.regImage{
    width: 200px;
    height: 200px;
    background: #807e7e;
    margin: auto;
    border-radius: 50%;
    border: solid 4px var(--brand-color);
}
#footer{
    margin:auto;
    width: 100%;
    background: #000;
    height: 300px;
}

/* Media Query */

@media screen and (width < 1600px){

    .articleSec, .imgSec, .blogImg, .article{        
        height: 200px;
    }

}

@media screen and (width < 1141px){

    .blog{
        flex-direction: column;
        width: 80%;
        /* height: auto; */
        align-items: center;
        justify-content: space-evenly;
    }
    .midSec{
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .rightSec{
        width: 100%;
    }
    .right-block{
        width: 100%;
        justify-content: center;
    }
    .subscription {
        justify-content: space-around;
        background: var(--brand-color);
        padding: 0;
        text-align: center;
        gap: 1;
        color: #fff;
    }
    #subInput {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .foodParadise {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

}

@media screen and (width < 1141px) {

    #main-content{
        padding: 1rem;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        gap: 1rem;
        margin: auto;
        place-items: center;
    }

}
