@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=DM+Serif+Display:ital@0;1&display=swap');


:root {
    --bg-theme-color:#fff;
    --brand-color:#CF995F;
    --brand-color-light:#f1ddaa;
    --link-color: #000;
    --brand-font-family: "Birthstone", cursive;
    --link-font-family: "DM Serif Display", serif;
    --text-font-family:"Arial", sans-serif;
/*     --title-font-family:
    --title-font-size: */
}

.darkMode{
    background:rgb(24, 24, 24);
}


* {
    margin: 0;
    padding: 0;
/*     text-decoration: none;
    list-style: none; */
}

#container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#navBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
#mobileMenu {
    display: none;
}
#mobileLinks {
    display: none;
    flex-direction: column;
    background: #000;
    padding: 1rem;
    border-top: dashed 1px var(--brand-color);
}
#brand{
    display: flex;
    justify-content: center;
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style:normal;
    font-size: 8rem; 

}
.brandText {
    text-decoration: none;
    color:var(--brand-color);
    text-shadow: 2px 5px rgb(178, 176, 176);
}
#linkContainer, #linkCategory{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#linkCategory {
    
    border-top:solid 1px rgb(84, 83, 83);
    border-bottom:solid 1px rgb(84, 83, 83) ;
}
.navLink{
    text-decoration: none;
    padding: 12px;
    color: var(--link-color);
    font-family: "DM Serif Display", serif;
    transition: transform 0.2s ease-out;
}
.mode {
     
    padding: 12px;
}
.catLink{
    font-size: 1.2rem;
}
.navLink:hover {
    border-bottom: solid 2px var(--brand-color) ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateY(-2px);
}

.searchInput {
    border:solid 1px #000;
    width: 16rem;
    border-radius: 4rem;
    padding: 1rem;
}
.mode:hover{
    border: none;
    cursor: pointer;
}

.catLink:hover {
    color: var(--brand-color);
    border-bottom: none;
    transform: translateX(2px);    
}
.signin:hover {
    background: var(--brand-color);
    border-bottom: none;
}
.download:hover{
    background: var(--brand-color);
    border-bottom: none;
}
.signin, .download {
    border-radius: 10px;
    color: aliceblue;
    background: rgb(56, 56, 56);
}
.download{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.separator {
    width: 1px;
    height: auto;
    background: rgb(165, 164, 164);
}
.heading {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
}
.heading > a {
    /* text-decoration: none; */
    color: #000;
    font-family: var(--link-font-family);
}
.heading > a:hover{
    color: var(--brand-color);
}
#main-content{
    padding: 1rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1rem;
    margin: auto;
    place-items: center;
}
.card{
    border-radius: 20px;
    width: 80%;
    height:auto;
    display: flex;
    flex-direction: column;
    background: rgb(5, 5, 5);
    border: solid 0.4rem var(--brand-color);
    object-fit: contain;
    color: aliceblue;
    box-shadow: 4px 4px 16px rgb(119, 118, 118);

    h2, p {
        text-align: center;
        padding: 0.8rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 800;
    }
    img {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
}

.blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;   
}
.midSec{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    a{
        text-decoration: none;
    }
}
#fullArticle{
    display: flex;
    flex-direction: row;
    border-bottom:solid 1px #9a9898;
    padding: 1rem;
    width: 100%;
    gap: 1rem;
}
#basicDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#articleContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#articleContent p,li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
}
#articleContent h3, h4 {
    font-family: var(--link-font-family);
    font-size: 1.8rem;
}
#commentBox{
    background: linear-gradient(to bottom, #ffffff, #f5eede);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.commentStyle{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
#reply {
    border: none;
    height: 20px;
    width: 100px;
}
#commentContainer{    
    background: #161616;
    padding: 1rem;
    color: aliceblue;
    text-align: center;
}
#commentSec{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
    padding: 0.8rem;
}
#commentSec input {
    padding: 0.8rem;
}
#commentSec button {
    padding: 6px;
}
#like-reply {    
    align-items: center;    
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0.8rem;   
}
#like-reply a{
    background:rgb(214, 213, 213) ;
    text-align: center;
    padding: 0.6rem;
    border-radius: 10px;
    cursor: pointer;
}
#like-reply a:hover {
    background: #7c7c7b;
    color: #fff;
}
#like-reply i {
    padding: 0.6rem;
    border-radius: 50%;
}
#like-reply i:hover{
    background: rgb(214, 213, 213);
}
#replyInput-x{
border: none;
}
.inputStyle input {
border: none;
height: 20px;
}
.articleSec{
    flex: 1;
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: row;

}
.imgSec {
    max-width: 40%;
    height: 250px;    
}
.blogImg{
    width: 100%;
    min-height: 250px;
    object-fit: contain;
}
.article{
    max-width: 60%;
    min-height: 250px;
    display: flex;
    flex-direction: column; 
    gap: 1rem;  
    padding: 0.6rem;
    justify-content: center;

    a{
        text-decoration: none;
    }
    h2{
        font-size: 1.8rem;
        letter-spacing: 1px;
    }
    p{
        font-size: 1.6rem;
        font-style:italic;
        text-align: justify;
    }
}
.readArticle {
    text-align: center;
    width: 4rem;
    background-color: rgb(22, 22, 22);
    padding: 0.6rem;
    border-radius: 6px;
    color: rgb(221, 223, 223);
    font-size: 0.8rem;
}
.arrow {
    display: flex;
    align-items: end;
}
.readArticle:hover {
    background: var(--brand-color);
}
.rightSec{
    display: flex;
    flex-direction: column;
    width:30% ;
    justify-content: start;
}
.right-block{
    display: flex;
    flex-direction: column;
    width:auto ;
    gap: 0.4rem;
    font-family: var(--link-font-family);
    font-size: 1.2rem;
    letter-spacing: 1px; 
    margin-bottom: 1rem;   
}
.right-block > a{
    text-decoration: none;    
}
.rightSecLink{
    min-width: 18rem;
    background: #ead1b6;
    padding: 1rem;
    color: #000;
}
.rightSecLink:hover{
    background: var(--brand-color);
}
.subscription {
    background: var(--brand-color);
    padding: 1rem;
    display: flex;
    text-align: center;
    gap: 1rem;
    color: #fff;
}
#subInput{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#subInput input {
    padding: 0.6rem;
    width: 14rem;
}
#subInput button {
padding: 0.8rem;
}
.moreArticles{
    margin: auto;
    text-align: center;
    padding: 1rem;
    color: #000;
    background: #ead1b6;
    font-family: var(--link-font-family);
    letter-spacing: 1px;
}
.moreArticles:hover{
    background:var(--brand-color);
}
#signUp {
    width: 80%;
    height:200px;
    color: #fff;    
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    justify-content: space-around;
    align-items: center;
}
#cover {
    background: var(--brand-color);
    width: 80%;
    margin: auto;
}
#socialLinks{
    font-size: 2rem;
}
#socialLinks > a{
    text-decoration: none;
    color: #fff;
}
#socialLinks a:hover{
    color: black;
}
#signupSec {
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.user-name, .email {
    width: 12rem;
    padding: 1rem;
}

.go{
    width: 6rem;
    padding: 0.4rem;    
    font-family: var(--link-font-family);
    letter-spacing: 1px;
    font-size: large;
    background: #ead1b6;
    border: none;
    cursor: pointer;
}
.go:hover{
    background: #000;
    color: #fff;
}
#foodCover {
    background: #f1ddaa;
    width: 80%;
    margin: auto;
}
.foodParadise{
    margin: auto;
    width: 96%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    gap: 1rem;
    justify-content: space-around;
    align-items: center;

    a{
        text-decoration: none;
    }
}
.roundImg:hover {
    background: rgb(22, 22, 22);
    border-radius: 12px;

    h6 {
        color: var(--brand-color);
    }
    
}
.region {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
    padding: 0.8rem;    
}
.region h6 {
    font-size: 1.2rem;
    color: black;
}
.regImage{
    width: 150px;
    height: 150px;
    background: #807e7e;
    margin: auto;
    border-radius: 50%;
    border: solid 4px var(--brand-color);
    img{
        width: 150px;
        height: 150px;
    }
}
#footer{
    width: 100%;
    background: #000;
    height: 300px;
    color: #fff;
    align-items: center;
    width: 80%;
    margin: auto;

    a{
        text-decoration: none;
    }
}
#footerWrap{
    width: 80%;
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    margin: auto;
    padding: 1rem;
}
.vAlign{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.vAlign a {
    color: white;
}
.vAlign h3 {
    text-decoration: underline;
    text-decoration-color: red;
}

/* Media Query */

@media screen and (width < 1600px){

    .article{
        gap: 0.4rem;
        p{
            font-size: 1rem;
        }
        h2{
            font-size: 1.2rem;
        }
    }

}

@media screen and (width < 1550px){

    .card h2{
        font-size: 1.2rem;
    }

    .blog{
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: space-evenly;
    }
    .midSec{
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .rightSec{
        width: 100%;
    }
    .right-block{
        width: 100%;
        justify-content: center;
    }
    .subscription {
        justify-content: space-around;
        background: var(--brand-color);
        padding: 0;
        text-align: center;
        gap: 1;
        color: #fff;
    }
    #subInput {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .foodParadise {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        height: auto;       
    }

    #signUp {
        flex-direction: column;
    }

    #mobileLinks {
        display: none;
    }
    #mobileLinks a{
        color: #CF995F;
        padding: 0.8rem;
        font-size: 1.8rem;
    }
    .mIcon {
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--brand-color);
        font-size: 1.8rem;
        cursor: pointer;
        
    }
    #mobileMenu a .mIcon {
        color: var(--brand-color);

    }
    .article{
        gap: 0.4rem;
        p{
            font-size: 1rem;
        }
        h2{
            font-size: 1.2rem;
        }
    }

}
@media screen and (width < 1140px){
    
        .card h2{
            font-size: 1rem;
        }
        #linkContainer {
        display: none;
    }
    #mobileMenu {
        display: flex;
        background: black;
        padding: 1rem;
        position: relative;
        height: 20px;               
    }

}

@media screen and (width < 992px) {

    #brand{
        font-size: 5rem;
    }
    .articleSec{
        max-height: 250px;
    }
    #main-content{
        padding: 1rem;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 1rem;
        margin: auto;
        place-items: center;
    }

    .foodParadise {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        height: auto;
    }
    .region {
        background: #b7b7b7;
    }

    #signUp {
        flex-direction: column;
        height: auto;
        padding: 0.8rem;
    }

    #signupSec {
        flex-direction: column;
        align-items: center;
    }
    #footer {
        height: auto;
    }

    #footerWrap{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        justify-content: center;
        align-items: center;
    }
    .vAlign{
        text-align: center;
    }
    #linkCategory {
        overflow-x: scroll;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scrollbar-width:thin;
    }
}
@media screen and (width < 650px) {

    #brand{
        font-size: 4rem;
    }

    .blog{
        display: flex;
        flex-direction: column;
        width: 100%;
        }

    .midSec {        
        width: 100%;
        max-height: auto;        
        gap: 1rem;
    }
    .articleSec { 
        margin: auto;       
        flex-direction: column;
        width:100%;
        max-height: 600px;

        h2{
            font-size: 1.6rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
    .article{
        min-width: 90%;
    }
    .imgSec{        
        width: 80%;
        margin: auto;
        background: #000;      
    }
    .blogImg{
        width: 100%;
    }
    #commentSec{
        width: 90%;
    }
    #fullArticle {
        flex-direction: column;
    }
    #fulArticle img{
        width: 100%;
        height: auto;
    }
    .arrow {
        justify-content: center;
    }
    .readArticle{
        width: 80%;
        padding: 0.8rem;
        font-size: 1.6rem;
    }
    .article p{
        font-size: 1.8rem;
    }

}
